<!--
  Generated template for the NewListingPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>New Listing</ion-title>
</ion-navbar>

<ion-toolbar secondary position="bottom">
  <ion-title text-center>Create new listing</ion-title>
</ion-toolbar>

<ion-content class="new-listing">
  <ion-list>
    <ion-item>
      <ion-segment secondary [(ngModel)]="data.listingType">
        <ion-segment-button value="free">
          Free
        </ion-segment-button>
        <ion-segment-button value="sale">
          For Sale
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label>Item name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Item Description</ion-label>
      <ion-textarea placeholder="max 240 characters"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Item type</ion-label>
        <ion-select [(ngModel)]="data.category">
          <ion-option value="clothing">Clothing</ion-option>
          <ion-option value="books">Books</ion-option>
          <ion-option value="furniture">Furniture</ion-option>
          <ion-option value="appliances">Applicances</ion-option>
          <ion-option value="electronics">Electronics</ion-option>
          <ion-option value="others">Others</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="data.listingType == 'sale'">
      <ion-label>Item price</ion-label>
      <ion-input type="currency"></ion-input>
    </ion-item>
    <ion-item *ngIf="data.listingType == 'sale'">
      <ion-label>This item is OBO</ion-label>
      <ion-toggle secondary [(ngModel)]="data.obo"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
